doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="bower_components/jquery/jquery.min.js")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet" href="stylesheets/app.css")

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" collapse="collapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-brand
            a(href='/') California Freshwater Biodiversity
        .collapse.navbar-collapse(collapse="menuCollapsed")

    .container
      .row
        div(id="feedback" class="col-md-8 col-md-offset-2")
          h2 Something wrong?
          p Please give us your feedback about anything that you think is wrong, confusing, or just could be a little better. We are listening and always looking for ways to improve the user experience for this site.

          form(name="feedback-form" id="feedback-form" class="form-horizontal")
            .form-group
              label(for="feedback-form-name" class="col-md-3 control-label") Name:
              .col-md-8
                input(type="text" class="form-control" name="feedback-form-name" id="feedback-form-name" placeholder="Your full name")

            .form-group
              label(for="feedback-form-mail" class="col-md-3 control-label") Email address:
              .col-md-8
                input(type="email" class="form-control" name="feedback-form-email" id="feedback-form-email" placeholder="Your email address")

            .form-group
              label(for="feedback-form-message" class="col-md-3 control-label") Feedback:
              .col-md-8
                textarea(name="feedback-form-message" class="form-control" id="feedback-form-message" rows="6" cols="48" placeholder="Your feedback")

            .form-group
              .col-md-8.col-md-offset-3
                .captchaHolder!= captcha

            .form-group
              .col-md-2.col-md-offset-5
                input(type="submit" class="btn btn-default" id="feedback-form-submit" name="feedback-form-submit" value="Submit")

    include ./includes/footer

  script.
    $(document).ready(function() {
      $("#feedback-form-submit").click(function (e) {
        e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '/feedback',
        data: $("#feedback-form").serialize(),
          success: function (response) {
            $("#submitResponse").html(response);
          }
        });
      });
    });
