doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="/bower_components/jquery/jquery.min.js")
    script(src="bower_components/jquery/jquery.min.js")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    link(rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css")
    script(src="bower_components/leaflet/dist/leaflet.js")
    // link(rel="stylesheet" href="css/leaflet.rrose.css")
    // script(src="javascripts/rrose-src.js")
    script(src="bower_components/topojson/topojson.js")
    script(src="javascripts/L.TopoJSON.js")
    script(src="bower_components/spin.js/spin.js")
    script(src="bower_components/spin.js/jquery.spin.js")
    script(src="javascripts/main.js")
    script(src="javascripts/taxonomies_elements.js")
    link(rel="stylesheet" href="stylesheets/app.css")

  body
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle(type="button" collapse="collapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .navbar-brand
            a(href='/') California Freshwater Biodiversity

        .collapse.navbar-collapse(collapse="menuCollapsed")

        block button-group

    block map-div

    include ./includes/footer
