extends layout

block button-group
  .btn-toolbar.navbar.navbar-right(role="toolbar")
  script(src='javascripts/species_buttons.js')

block map-div
  .container
    .row
      .col-md-10
        #map
        script initMap();
