extends layout

block button-group
  .btn-toolbar.navbar.navbar-right(role="toolbar")
  script(src='javascripts/species_buttons.js')

block map-div
  .container
    .row
      .col-md-9
        #map
        script(src='javascripts/load-spinner.js')
        script initMap();

      .col-md-3
        #summary.panel.panel-default(style="display:none")
          .panel-body
