/**
 * Starting with sticky footer styles
 * from http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
 */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#map {
  margin-top:  90px;
  width:       100%;
  height:      700px;
}

#summary {
  margin-top:   90px; // same as #map
}

#feedback {
  margin-top:   50px;
}

.navbar {
  margin-bottom: -15px;
}

/**
 * Group-specific colors, from colorbrewer2.org
 * 8-class Paired
 */
/*.btn-all-species {*/
  /*color:            #fff;*/
  /*background-color: rgb(228,26,28);*/
/*}*/
.btn-group {
  color: #fff;
}
.btn-fishes {
  background-color: rgb(166,206,227);
}
.btn-herps {
  background-color: rgb(31,120,180);
}
.btn-crustaceans {
  background-color: rgb(178,223,138);
}
.btn-mollusks {
  background-color: rgb(51,160,44);
}
.btn-birds {
  background-color: rgb(251,154,153);
}
.btn-plants {
  background-color: rgb(227,26,28);
}
.btn-mammals {
  background-color: rgb(253,191,111);
}
.btn-insects {
  background-color: rgb(255,127,0);
}
.dropdown-menu {
  font-size:        0.8em;
  z-index:          1100;
  max-height:       740px !important;
  overflow-y:       auto !important;

}
.footer {
  /**
   * position, bottom, width, height, all
   * from http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
   */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 80px;
}
.footer-inner {
  padding: 10px 0;
  border-top: 1px solid #DDD;
}
