/**
 * Starting with sticky footer styles
 * from http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#map {
  width:       100%;
  height:      640px;
}

/**
 * Group-specific colors, from colorbrewer2.org
 * 9-class Set1
 * .Set1 .q0-9{fill:rgb(228,26,28)} .Set1 .q1-9{fill:rgb(55,126,184)} .Set1 .q2-9{fill:rgb(77,175,74)} .Set1 .q3-9{fill:rgb(152,78,163)} .Set1 .q4-9{fill:rgb(255,127,0)} .Set1 .q5-9{fill:rgb(255,255,51)} .Set1 .q6-9{fill:rgb(166,86,40)} .Set1 .q7-9{fill:rgb(247,129,191)} .Set1 .q8-9{fill:rgb(153,153,153)}
 */

.btn-all-species {
  color:            #fff;
  background-color: rgb(228,26,28);
}
.btn-insects {
  color:            #fff;
  background-color: rgb(55,126,184);
}
.btn-plants {
  color:            #fff;
  background-color: rgb(77,175,74);
}
.btn-mollusks {
  color:            #fff;
  background-color: rgb(152,78,163);
}
.btn-crustaceans {
  color:            #fff;
  background-color: rgb(255,127,0);
}
.btn-fishes {
  color:            #111;
  background-color: rgb(255,255,51);
}
.btn-birds {
  color:            #fff;
  background-color: rgb(166,86,40);
}
.btn-herps {
  color:            #fff;
  background-color: rgb(247,129,191);
}
.btn-mammals {
  color:            #fff;
  background-color: rgb(153,153,153);
}

.footer {
  /**
   * position, bottom, width, height, all
   * from http://getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css
   */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: 80px;
}
.footer-inner {
  padding: 10px 0;
  border-top: 1px solid #DDD;
}
