doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    script(src="../../bower_components/jquery/jquery.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content



<script src="bower_components/jquery/jquery.min.js" ></script>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" />
<script src="bower_components/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="css/leaflet.rrose.css" />
<script src="js/rrose-src.js"></script>
<script src="bower_components/topojson/topojson.js"></script>
<script src="js/L.TopoJSON.js"></script>
<script src="js/main.js"></script>
<link rel="stylesheet" href="css/app.css" />
